<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
    <h1>How Minneapolis policing has changed since Floyd’s death</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      and
      <a rel="author" href="https://www.startribune.com/kim-hyatt/563843811/">Kim Hyatt</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2019-11-11T16:00:00">September 2, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

      <section class="container-lg leadin">
          <p>Defunded or not, perceptions that the Minneapolis Police Department has changed its habits following George Floyd’s death and monthslong protests have concerned some residents, advocates and lawmakers.</p>

          <p>Locals have complained about slow or nonexistent police response to emergency calls. Some perceive Minneapolis as increasingly dangerous and crime-ridden. Recent Minneapolis City Council meetings have tackled concerns over delayed 9-1-1 response times.</p>

          <p>Police have adamantly denied standing down since Floyd’s death on May 25. But some people's experiences – and the data – point to at least some shift in how the department responds to calls.</p>
          
          <p>A Star Tribune analysis of city data suggests departmental staffing issues, officer reluctance, COVID-19, surges in post-unrest violence and steady influxes of emergency calls have altered policing in key ways this summer.</p>
        </section>

      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Staffing shortages, decreased activity</h2>

        <p>Police calls noticeably declined since the <a href="https://www.startribune.com/following-historic-unrest-data-show-a-quieter-minneapolis/568966851/">unrest that rocked Minneapolis</a> ended, in part <a href="https://www.startribune.com/minneapolis-police-face-staffing-challenges-as-violence-rises/571982152/">underscoring the department's staffing issues</a>, with 40 cops departing through resignation, termination or retirement, and 75 others taking medical leave – a significant gap in the relatively small force.</p>

        <p>Concurrently, recorded police activity fell around 30 percent in each June, July and August compared to summer months in 2019. Activity was also down compared to April of 2020, bucking the typical escalation in summer crime Minneapolis usually sees.</p>
      </section>

        <div class="slide">
          <iframe title="Fewer police calls and incidents" aria-label="Interactive line chart" id="datawrapper-chart-78vFu" src="//datawrapper.dwcdn.net/78vFu/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
        </div>
  
      <section class="body">
        <p>Activity <a href="https://www.startribune.com/minneapolis-officers-face-accusations-of-slowdown/378529735/">similarly slowed</a> after Jamar Clark was killed by Minneapolis police in 2015, despite violent crime persisting in that incident's aftermath.</p>

        <p>Dr. Ronal Serpas, criminal justice professor at Loyola University New Orleans with 34 years in law enforcement, described a “hangover effect” following a high-profile police killing, like in Ferguson in 2014. Overtime hours worked, officers being reshuffled behind the scenes and squad cars staging in central locations could affect what the department handles.</p>

        <p>After the <a href="https://www.startribune.com/minneapolis-third-precinct-george-floyd-emails-public-records-reveal-what-happened-before-abandoned-mayor-frey/566290701/">Third Precinct was burned in South Minneapolis</a>, for instance, officers staged out of the Minneapolis Convention Center.</p>
           
        <p>“For the many days following the death of Mr. Floyd," Serpas said, "a significant percentage of the police department was likely taken away from its normal proactive duties.”</p>
      </section>


      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">More reactive, less proactive</h2>

        <p>Those staffing issues, the ongoing pandemic and surges in post-unrest violence have shuffled priorities for Minneapolis police, making the department more reactive than proactive.</p>

        <p><a href="https://www.startribune.com/surge-in-gun-violence-tests-minneapolis-leaders/571524202/">Gun violence increased by magnitudes</a> compared to last year – and shots fired reports tend to tie up multiple police units in response, drawing resources away from other concerns. Violent and weapons-related crimes as a whole also surged from June onward.</p>
            
        <p>Yet, nearly every other metric of police activity fell sharply compared to last year, and across every precinct.</p>
      </section>

        <div class="slide">
          <div class="chartTitle">How police activity in 2020 compares to 2019</div>
          <div class="chatter">Some measures of police activity have declined throughout a year of pandemic lockdowns. But many metrics dropped straight off a cliff following Floyd's death, starting in June.</div>
          <div class="center">
            <div class="chatter">PERCENT CHANGE IN INCIDENTS FROM 2019</div>
            <div class="legend"><div class="orange5">⇩</div><div class="orange4">&nbsp;</div><div class="orange3">&nbsp;</div><div class="orange2">&nbsp;</div><div class="orange1">&nbsp;</div><div class="white">=</div><div class="blue1">&nbsp;</div><div class="blue2">&nbsp;</div><div class="blue3">&nbsp;</div><div class="blue4">&nbsp;</div><div class="blue5">⇧</div></div>
            <div class="legend"><div class="white">-100%</div><div class="white">-80</div><div class="white">-60</div><div class="white">-40</div><div class="white">-20</div><div class="white">0</div><div class="white">+20</div><div class="white">+40</div><div class="white">+60</div><div class="white">+80</div><div class="white">+100%</div></div>
          </div>
          <div id="calendar">
            <div class="row">
              <div class="type block"></div><div class="block th">Jan</div><div class="block th">Feb</div><div class="block th">Mar</div><div class="block th">Apr</div><div class="block th">May</div><div class="block th">Jun</div><div class="block th">Jul</div><div class="block th">Aug</div>
            </div>
          </div>
          <div class="byline">Note: statistics run through August 19 for both years.</div>
        </div>

      <section>
        <p>&nbsp;</p>
        <p>Police stops have decreased by half, use-of-force incidents by two-thirds. Proactive foot and squad car patrols – which had been down all year – nearly vanished entirely and have only recently started returning.</p>
         
        <p>The COVID-19 pandemic also plays some role in affecting police focus. With less activity in the First Precinct and Downtown due to lockdowns, for instance, come fewer officers working streets that are far emptier.</p>

        <p>Derek Iverson, a supervisor with Minneapolis 9-1-1, said instances of “fake 9-1-1 calls” may also have cops avoiding calls where “people try to bait them into confrontation or attack them.”</p>

        <p>“We’re not doing anything different in terms of how we take calls or enter calls," he said. "The only real difference is sometimes the way in which officers are having to be careful or approach the situation more carefully.”</p>
        <p>&nbsp;</p>
      </section>

      <!-- <div class="slide">
          <iframe title="Recorded police incidents collapsed in June" aria-label="Interactive line chart" id="datawrapper-chart-WQHi4" src="//datawrapper.dwcdn.net/WQHi4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div> -->


      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Strained responses and relations</h2>

        <p>Ongoing actions by the City of Minneapolis to seek a charter disbanding the department may already have altered the relationship between police and the commmunities they serve, and kept officers away from scenes were they otherwise would be present.</p>

        <p>A Star Tribune analysis of service requests to the Minneapolis Emergency Communications Center (MECC) shows a widened gap between received 9-1-1 calls from residents and what police actually handle.</p>

        <p>While the volume of 9-1-1 calls is usually higher than what police actually respond to, that difference was often 20-30 percent throughout 2019. This summer, it's jumped to a 53 percent average.</p>
      </section>

      <div class="slide">
        <iframe title="Fewer police calls and incidents" aria-label="Interactive line chart" id="datawrapper-chart-LdHtO" src="//datawrapper.dwcdn.net/LdHtO/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>

      <section class="body">
        <p>Mayor Jacob Frey and the city council have also tackled alleged emergency response delays by police in recent public meetings.</p>
        
        <p>And in increasing numbers of cases, emergency calls that would have often drawn Minneapolis police presence are being fielded by different agencies such as Minneapolis Park Police, Minneapolis Fire Department, Minneapolis 311, State Patrol or the Hennepin County Sheriff.</p>

        <p>Tabitha Montgomery, executive director of Powderhorn Neighborhood Association, said there is a spectrum of people hesitating before calling 9-1-1 for different reasons, such as trying to weigh the importance of the call against what could happen if a situation escalates, or “communal shame or blame” for placing that call.</p>

        <p>But Montgomery doesn’t believe that hesitation will continue if alternatives to 9-1-1 aren’t communicated.</p>
        
        <p>“Residents and the police department and elected leaders are all beginning to rethink, reconsider how policing is approached in Minneapolis,” she said.</p>
        
      </section>

      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Here are some summer MPD experiences. What are yours?</h2>

        <p>Nearly three months after Floyd’s death, some describe situations of calling 9-1-1 but police don’t respond.</p>
        
        <p>One person recently shared with the South Minneapolis Crime Watch & Information page that they called police after a woman pulled a gun on them in their front yard, so they called police, twice, plus two neighbors called and their sister.</p>

        <p>“That’s four people who called… They never showed… What’s that supposed to mean??” the post read.</p>

        <p>Even when police do respond, residents are questioning the actions, or lack thereof, of police. On Aug. 12, police responded to a large fight downtown near 9th Street and Nicollet, but officers were told to get back in their squad cars and leave, according to TC Crime Watch.</p>

        <p>Minneapolis police spokesman John Elder said he was unable to comment for investigative reasons.</p>

        <p>What have your experiences with Minneapolis police been like this summer? Whether positive, negative or neutral, the Star Tribune is seeking broader perspective from city residents.</p>

      </section>

      <div class="slide">
        <div class="bylineBottom">Data source: City of Minneapolis</div>
    </div>

<section class="container-lg">

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten</strong> is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minneapolis policing has changed since Floyd’s death" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>

        <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Kim Hyatt</strong> is the Star Tribune’s North Metro reporter, covering Anoka County and the northern Hennepin County suburbs.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:kim.hyatt@startribune.com?subject=How Minneapolis policing has changed since Floyd’s death" data-linkname="kim.hyatt@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">kim.hyatt@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4751" data-linkname="612-673-4751" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4751</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/kimvhyatt" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">kimvhyatt</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
