<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Local</span></h5>
    <h1>How Minneapolis policing changed during a historic summer of turmoil</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      and
      <a rel="author" href="https://www.startribune.com/kim-hyatt/563843811/">Kim Hyatt</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2020-9-9T16:00:00">September 10, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

      <section class="container-lg leadin">
          <p>Minneapolis police say there has been no deliberate slowdown in responding to 911 calls since George Floyd's death, yet concerns from residents, advocates and lawmakers linger as summer draws to a close.</p>

          <p>A Star Tribune analysis of Minneapolis Police Department daily call volume shows significant changes in its response – all while challenges of elevated violence, staffing issues, budgetary holes, widespread criticism and a global pandemic took a toll on the department’s resources and shifted its attention.</p>
            
          <p>Typically, police activity rises with summertime crime waves, but this year saw less energy poured into everyday policing. Riots, shootings and homicides resulted in cops simultaneously tackling more violent crimes while responding to fewer calls overall.</p>

          <p>Here are some of the key ways policing changed over the last few months.</p>
        </section>

      <div class="rule"></div>
      <section class="container-lg">
        <h2 class="chartTitle">Staffing shortages, decreased activity</h2>

        <p>Service calls for police response either through 911 or other dispatches noticeably declined since the  <a href="https://www.startribune.com/following-historic-unrest-data-show-a-quieter-minneapolis/568966851/">unrest that rocked Minneapolis</a> ended, in part <a href="https://www.startribune.com/minneapolis-police-face-staffing-challenges-as-violence-rises/571982152/">underscoring the department's staffing and budgetary problems</a>. After Floyd's death, the force lost more than 10 percent of its officers through resignation, termination, retirement or medical leave – and could shed more employees by year’s end.</p>

        <p>Recorded police activity fell around 30 percent in each June, July and August compared to a year earlier. Activity was also down compared to April of this year, bucking the typical escalation in summer crime response Minneapolis often sees.</p>
      </section>

        <div class="slide container-lg">
          <iframe title="Fewer police calls and incidents" aria-label="Interactive line chart" id="datawrapper-chart-78vFu" src="//datawrapper.dwcdn.net/78vFu/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="450"></iframe>
        </div>
  
      <section class="container-lg">
        <p>A separate analysis of various police and crime measurements tracked by the city shows some of these trends continued after <a href="https://www.startribune.com/mpls-under-a-curfew-until-6-a-m-mayor-requests-guard-for-unrest/572231992/">Downtown Minneapolis riots in late August</a> and into September.</p>

        <p>Even considering citywide and nationwide <a href="https://www.startribune.com/fbi-violent-crime-in-minnesota-dropped-last-year-continuing-decade-long-trend/562007692/">declines in crime rates</a> and police calls over the years, these dropoffs are more stark. Police activity <a href="https://www.startribune.com/minneapolis-officers-face-accusations-of-slowdown/378529735/">similarly slowed</a> after Jamar Clark was killed by a Minneapolis police officer in 2015, despite violent crime persisting in that incident's aftermath.</p>

        <p>Dr. Ronal Serpas, a criminal justice professor at Loyola University New Orleans who spent 34 years in law enforcement, attributes such declines to a “hangover effect” that often follows a high-profile police killing, like in Ferguson, Missouri in 2014.</p>
        
        <p>Overtime hours worked, officers being reshuffled and squad car staging could also affect what the department handles. For months after the <a href="https://www.startribune.com/minneapolis-third-precinct-george-floyd-emails-public-records-reveal-what-happened-before-abandoned-mayor-frey/566290701/">Third Precinct was burned in South Minneapolis</a>, for instance, patrol cars staged at the Minneapolis Convention Center.</p>
           
        <p>“For the many days following the death of Mr. Floyd, a significant percentage of the police department was likely taken away from its normal proactive duties,” Serpas said.</p>
      </section>


      <div class="rule"></div>
      <section class="container-lg">
        <h2 class="chartTitle">More reactive, less proactive</h2>

        <p>Those logistical challenges, the ongoing pandemic and surges in violence appeared to shift the focus of Minneapolis police, making the department more reactive than proactive.</p>

        <p>This summer, <a href="https://www.startribune.com/surge-in-gun-violence-tests-minneapolis-leaders/571524202/">gunfire reports increased by considerable magnitudes</a> and violent crime jumped overall, with the city <a href="https://www.startribune.com/fatal-shooting-in-n-minneapolis-jordan-neighborhood-marks-city-s-56th-homicide-of-2020/572279292/">reaching 56 murders before Labor Day</a>. Renewed rioting after a homicide suspect killed himself on Nicollet Mall led to another round of curfews and the return of the National Guard.</p>
            
        <p>Meanwhile, nearly every other metric of police activity fell sharply compared to last year, and across every precinct.</p>
      </section>

        <div class="slide container-lg">
          <div class="chartTitle">How police activity in 2020 compares to 2019</div>
          <div class="chatter">Some measures of police activity have declined throughout a year of pandemic lockdowns, but many metrics plunged dramatically starting in June. Violent crime indicators, by contrast, have swelled.</div>
          <div class="center">
            <div class="chatter datalabel">PERCENT CHANGE IN INCIDENTS FROM 2019</div>
            <div class="legend"><div class="blue5">⇩</div><div class="blue4">&nbsp;</div><div class="blue3">&nbsp;</div><div class="blue2">&nbsp;</div><div class="blue1">&nbsp;</div><div class="white">=</div><div class="orange1">&nbsp;</div><div class="orange2">&nbsp;</div><div class="orange3">&nbsp;</div><div class="orange4">&nbsp;</div><div class="orange5">⇧</div></div>
            <div class="legend"><div class="white">-100%</div><div class="white">-80</div><div class="white">-60</div><div class="white">-40</div><div class="white">-20</div><div class="white">0</div><div class="white">+20</div><div class="white">+40</div><div class="white">+60</div><div class="white">+80</div><div class="white">+100%</div></div>
          </div>
          <div id="calendar">
            <div class="row">
              <div class="type block"></div><div class="block th">Jan</div><div class="block th">Feb</div><div class="block th">Mar</div><div class="block th">Apr</div><div class="block th">May</div><div class="block th">Jun</div><div class="block th">Jul</div><div class="block th">Aug</div>
            </div>
          </div>
          <div id="showToggle"><div class="reveal" id="more">+ show more</div><div class="reveal" id="less">- show less</div></div>
          <div class="notes-block">Note: statistics run through August 19 for both years.</div>
          <div class="byline">Chart: Jeff Hargarten, Star Tribune • Source: City of Minneapolis</div>
        </div>

      <section class="container-lg">
        <p>Police stops and officer-initiated calls dropped more than half, use-of-force incidents fell by about two-thirds while traffic-related incidents and patrols became far less common.</p>

        <p>The COVID-19 pandemic has also played a large role. For instance, the Downtown West neighborhood in the First Precinct historically clocks the most police incidents as a commuter and entertainment destination, but quarantine lockdowns triggered steep crime dropoffs starting in April.</p>

        <p>Officer safety has been another concern, both in terms of coronavirus and community hostility. Derek Iverson, a supervisor with Minneapolis 9-1-1, said instances of “fake 911 calls” may also have officers avoiding calls where “people try to bait them into confrontation or attack them.”</p>

        <p>“We’re not doing anything different in terms of how we take calls or enter calls," he said. "The only real difference is sometimes the way in which officers are having to be careful.”</p>
      </section>

      <div class="rule"></div>
      <section class="container-lg">
        <h2 class="chartTitle">Strained responses and relations</h2>

        <p>Residents have described slow police response times since the end of civil unrest, even as cops seemingly focused more on 911 calls than other activities and overall emergency demand remained similar to last summer.</p>

        <p>Members of neighborhood groups online complained about slow or non-existent emergency response. A class-action lawsuit alleged inadequate policing and that 911 callers were reportedly told to contact 311 instead. Minneapolis City Council members expressed concerns about delayed or missing service, particularly around the Third Precinct where Floyd died.</p>

        <p>Police have said stretched patrol squads are a factor driving complaints about dragging response times. And data suggest they have focused more on keeping up with 911 calls than other activities.</p>

        <p>An analysis by the Minnesota Department of Public Safety shows 911 calls routed to the Minneapolis Emergency Communications Center (MECC) – the public safety access point that dispatches the city's police, fire and ambulances – mostly evened out starting in early June.</p>
      </section>

      <div class="slide container-lg">
        <iframe title="Fewer police calls and incidents" aria-label="Interactive line chart" id="datawrapper-chart-ThIml" src="//datawrapper.dwcdn.net/ThIml/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
        <div class="notes-block">Note: weeks run from mid-March through mid-August. Emergency calls routed to MECC compiled by CenturyLink.</div>
        <div class="byline">Chart: Jeff Hargarten, Star Tribune • Source: Minnesota Department of Public Safety</div>
      </div>

      <section class="container-lg">
        <p>Across those same weeks, 911 calls serviced by the Minneapolis Police Department flattened and stayed about 12 percent lower than last year's levels. Simultaneously, calls that were self-assigned by officers reduced significantly, suggesting greater focus on emergency response during times of strained resources.</p>
      </section>

      <div class="slide container-lg">
        <iframe title="Fewer police calls and incidents" aria-label="Interactive line chart" id="datawrapper-chart-LdHtO" src="//datawrapper.dwcdn.net/LdHtO/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
        <div class="notes-block">Note: weeks run from mid-March through mid-August.</div>
        <div class="byline">Chart: Jeff Hargarten, Star Tribune • Source: City of Minneapolis</div>
      </div>

      <section class="container-lg">
        <p>By contrast, 311 requests spiked this year.</p>

        <p>Some are reluctant to call police at all amid ongoing city council and advocate efforts to disband or defund the department, further altering the relationship between police and communities they serve.</p>

        <p>Tabitha Montgomery, executive director of Powderhorn Park Neighborhood Association, said there is a spectrum of people hesitating before calling 911 for different reasons, such as trying to weigh the importance of the call against what could happen if a situation escalates, or “communal shame or blame” for placing that call.</p>

        <p>But Montgomery doesn’t believe that hesitation will continue if alternatives to 911 aren’t communicated.</p>
        
        <p>“Residents and the police department and elected leaders are all beginning to rethink, reconsider how policing is approached in Minneapolis,” she said.</p>
        
      </section>

      <section class="container-lg">
        <div class="article-author-contact">
          <!-- <p><em>Staff writers Abby Simons, Libor Jany and Liz Navratil contributed to this report.</em></p>
          <p>&nbsp;</p> -->
          <p><strong>Data notes:</strong> sources of records include online Minneapolis Police Department dashboards and downloadable City of Minneapolis datasets, along with requested police calls stretching from 2017 through 2020. Total weekly MECC emergency call volume was provided by CenturyLink and the Minnesota Department of Public Safety, which has been tracking activity at public safety answering points (PSAPs). Analysis is principally focused on the Minneapolis Police Department rather than other law enforcement agencies operating in the city.</p>
        </div>
        <p>&nbsp;</p>
            <div class="listing">
              <p><strong>Further reading</strong></p>
              <p><a href="https://www.startribune.com/mpls-police-to-reduce-allowable-use-of-force-under-new-policy/572229912/">Minneapolis police to reduce allowable use of force under new policy</a></p>
              <p><a href="https://www.startribune.com/minneapolis-sued-over-police-funding-city-is-in-a-crisis/572164142/">Minneapolis sued over police funding: City 'is in a crisis'</a></p>
              <p><a href="https://www.startribune.com/minneapolis-police-face-staffing-challenges-as-violence-rises/571982152/">Minneapolis police face staffing challenges as violence rises</a></p>
              <p><a href="https://www.startribune.com/surge-in-gun-violence-tests-minneapolis-leaders/571524202/">Gun violence soars amid crises of health, public trust, officer reluctance</a></p>
          </div>
      </section>


<section class="container-lg">

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten</strong> is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minneapolis policing changed during a historic summer of turmoil" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>

        <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Kim Hyatt</strong> is the Star Tribune’s North Metro reporter, covering Anoka County and the northern Hennepin County suburbs.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:kim.hyatt@startribune.com?subject=How Minneapolis policing changed during a historic summer of turmoil" data-linkname="kim.hyatt@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">kim.hyatt@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4751" data-linkname="612-673-4751" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4751</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/kimvhyatt" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">kimvhyatt</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
